
body{
    background-image: url(./image.html.jpg);
    border: 5px solid green;  
}
.maincontainer{
    border: 5px solid lightgreen;  
}

#container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box{
    border: 5px solid red;
    background-color:black;
    height: 90px;
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    color: antiquewhite;
    text-align: center;
    margin-top: 5px;
    font-size: 24px;
    font-weight: bold;
    font-style: italic;
}
#box1{
   padding-top: 20px;
   margin:20px 0 0 10px;
  

}
#box2{
    width: 400px;
    height: 35px;
    margin-top: 30px;
    margin-left: 40px;
    border-radius: 25px;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 0;   
}
#box3{
    margin:10px 5px 0 40px;
    padding-left: 30px;
}

#container1{
    display: flex;
    margin-left: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 21px;
}

.circle{
    border:10px solid grey;
    border-radius:50%;
    background-color:rgb(7, 134, 134);
    text-align: center;
    margin-top:200px;
    width:400px;
    height:300px;
    padding-top: 80px;
}
.form{
    border:5px dashed orangered;
    width:370px;
    height:725px;
    background-color:white;
    margin-left:100px;
    margin-top:50px;
    text-align:center;
    color:rgb(241, 101, 124);
}
.lable{
    margin-bottom:10px;
    margin-top: 10px;
    font-size:20px;
}
.input-element{
    text-align:center;
}
.menu{
    border: 5px solid red;
    background-color:black;
    color: antiquewhite;
    font-weight: bold;
    font-size: 45px;
    width: 500px;
    height: 60px;
    border-radius: 40px;
}
.container2{
    display: flex;    
   }

h2{
   color: navy;
   text-align: center;
}
.boxes{
     border: 3px solid green;
     border-radius: 40px;
     background-color: lightseagreen;
     margin: 50px;
     width: 400px;
     height: 270px;
     text-align: center;
     color: navy;
 }

.container3{
       display: flex;
   }
   